.layout__menuSider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-height: 100vh;

  flex: 0 !important;
  max-width: none !important;
  min-width: 0 !important;

  width: 20rem !important;
}

.menuSider__logo {
  width: 100%;
  padding: 3rem 2rem;

  display: flex;
  justify-content: center;
}

.menuSider__logo svg {
  width: 50%;
}

/* overwriting antd classes */
.ant-menu-dark .ant-menu-item {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.ant-menu-item .ant-menu-item-icon {
  font-size: 1.8rem;
  font-weight: 700;
}
